@model Biblioteca.Dominio.Livro

<span><h4>@Html.DisplayFor(x => x.Titulo)</h4>@Html.ActionLink("  x  ", "fechar", null, new { id = "fecharDescricao" })</span>

<div id="lipsum">
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget laoreet
        magna, nec tincidunt quam. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        Morbi facilisis nisi orci, in pretium felis volutpat nec. Suspendisse id leo pulvinar,
        pulvinar quam a, tempor felis. Ut vestibulum imperdiet quam, non sollicitudin velit
        luctus at. Etiam risus tortor, volutpat et molestie vel, vestibulum eget orci. Duis
        sagittis euismod turpis pulvinar imperdiet. Nulla porta blandit semper. Nunc quis
        metus id diam posuere lobortis. Nulla nec nunc sem. Nam quis risus vel nunc auctor
        dignissim ac et diam. Cras rutrum mi sodales libero eleifend, ac fringilla lorem
        eleifend. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris ultrices
        bibendum quam nec aliquet.
    </p>
    <p>
        Nulla at velit quis turpis molestie pretium. Integer sollicitudin pellentesque luctus.
        Etiam tortor eros, vehicula in lacus nec, tempor interdum orci. Phasellus luctus,
        nunc eu accumsan venenatis, urna magna aliquam neque, in placerat nulla augue et
        nibh. Proin ac lacus vel dui ultrices auctor. Cras vel nisl lacinia, ultricies mauris
        et, mollis velit. Vivamus mollis sapien arcu, sit amet sagittis augue blandit in.
        In urna massa, rhoncus eget nibh lobortis, venenatis facilisis velit. Fusce eleifend
        fringilla velit ac ultricies. Mauris in enim dignissim, tincidunt sem ac, auctor
        felis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos
        himenaeos. Curabitur et porttitor odio. Donec mollis nisi in lobortis tempor.
    </p>
    <p>
        Donec auctor arcu odio, in iaculis nibh viverra ut. Proin in lectus volutpat, accumsan
        ante non, elementum ligula. Aliquam bibendum, massa quis posuere tempus, nisi mi
        bibendum sem, vel suscipit odio diam id lacus. Duis tincidunt rhoncus dolor id pretium.
        Quisque vel sollicitudin libero. Aenean suscipit massa et nisl condimentum fermentum.
        Nullam sed nunc aliquam, bibendum ipsum ut, pellentesque est. Nam viverra dui id
        nibh egestas iaculis. Nunc lacinia enim a urna consectetur, quis pellentesque nisl
        bibendum. Integer sit amet accumsan quam. Aliquam in nisi nec dolor semper tristique.
        Mauris malesuada vehicula nisl, vel elementum orci pellentesque vel.
    </p>
    <p>
        Integer non neque blandit diam venenatis lacinia. Praesent sed nisl eu lorem ultricies
        consectetur. Praesent tempor, dolor in accumsan scelerisque, mi nulla laoreet diam,
        ac ullamcorper leo nulla rutrum dui. Donec magna ipsum, venenatis in mauris eu,
        facilisis sodales metus. Duis tincidunt hendrerit commodo. Vivamus sagittis id felis
        nec commodo. Fusce vulputate, metus non volutpat viverra, quam diam eleifend augue,
        faucibus congue odio urna eget nisi. Phasellus euismod volutpat porttitor. Proin
        placerat leo et tellus placerat, et posuere odio aliquam. Curabitur mattis risus
        egestas erat imperdiet auctor. Vestibulum nec enim sit amet sem fermentum convallis
        venenatis et est. Vestibulum ut pretium sem. Sed eu urna volutpat, mattis magna
        quis, mollis nibh. Aenean vel molestie magna. Suspendisse pretium est magna, nec
        euismod sapien fringilla quis.
    </p>
    <p>
        Integer condimentum scelerisque odio, quis interdum libero elementum quis. Etiam
        tincidunt nisi arcu, in iaculis velit pharetra at. In suscipit egestas ligula ut
        hendrerit. Sed tincidunt consequat elit, et eleifend felis fringilla sit amet. Cras
        eu risus sem. Etiam auctor egestas lectus, non vestibulum nulla suscipit quis. Praesent
        consequat est sit amet nibh eleifend feugiat.
    </p>
</div>
