@{
    ViewBag.Title = "Index";
}
<h2>Empréstimos</h2>

<p>@ViewBag.Mensagem</p>

@if (Roles.IsUserInRole("PodeEmprestar"))
{
    @Html.ActionLink("Novo Empréstimo", "novo")
}
else { 
    <h2>Seu usuário não pode fazer o Empréstimo de Livros</h2>
}