@model IEnumerable<Biblioteca.Dominio.Emprestimo>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section scripts{
    <script type="text/javascript" src="@Url.Content("~/Scripts/biblioteca.js")"></script>
}

        
        
        <h2>Histórico</h2>
        
        <form action="">
            <p>
                Busca por:
                <select id="filtro">
                    <option value='usuario'>Usuário</option>
                    <option value='livro'>Livro</option>
                </select>
                <input id="textoFiltro" type="text" />
                <input id="botaoFiltro" type="submit" value="Filtrar" />
            </p>
        </form>
        
        <table>
            <tr>
                <th>Livro</th>
                <th>Data Empréstimo</th>
                <th>Data Devolução</th>
                <th>Usuário</th>
            </tr>
            <!--
            foreach (var emprestimo in Model)
            {
                <tr>
                    <td>emprestimo.LivroEmprestimo.Titulo</td>
                </tr>        
                <tr>
                    <td>emprestimo.UsuarioEmprestimo.Nome</td>
                </tr>     
                <tr>
                    <td>emprestimo.RetiradoEm</td>
                </tr>     
                <tr>
                    <td>emprestimo.DevolvidoEm</td>
                </tr>     
            } -->
            
        </table>

      
