<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()

        <h2>Histórico</h2>
        
        <form action="">
            <p>
                Busca por:
                <select id="filtro">
                    <option value='usuario'>Usuário</option>
                    <option value='livro'>Livro</option>
                </select>
                <input id="textoFiltro" type="text" />
                <input id="botaoFiltro" type="submit" value="Filtrar" />
            </p>
        </form>
        
        <table>
            <tr>
                <th>Livro</th>
                <th>Data Empréstimo</th>
                <th>Data Devolução</th>
                <th>Usuário</th>
            </tr>
        </table>

        <table>
            <tr>
                <th>Usuário</th>
                <th>Data Empréstimo</th>
                <th>Data Devolução</th>
                <th>Livro</th>
            </tr>
        </table>
    </div>
</body>
</html>