@{
    ViewBag.Title = "ReservaEfetuadaComSucesso";
}

<div id="livroJaEmprestado"><strong>Reserva efetuada com sucesso!</strong></div>
<hr />
@Html.ActionLink("Voltar para livros", "Index", "Livros")