@model IEnumerable<Biblioteca.Dominio.Emprestimo>

@{
    ViewBag.Title = "#2 - Devolução";
}

<h2>Listagem de Devolução</h2>
<br />
<br />
@Html.ActionLink("Nova Devolução", "Novo")

<table>
    <thead>
        <tr>
            <th>Livro
            </th>
            <th>Data da Devolução
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var emprestimoDevolvido in Model)
        {
            <tr>
                <td>@emprestimoDevolvido.LivroEmprestimo.Titulo
                </td>
                <td>@emprestimoDevolvido.DevolvidoEm
                </td>
            </tr>
        }
    </tbody>
</table>

